#Säo {
  color: blueviolet;
  background-color: rgba(198, 232, 7, 0.728);
}

#käse {
  color: blue;
  background-color: aqua;
}
.john {
  background-color: black;
}
.jakob {
  background-color: goldenrod;
}
